mat-card {
	width: 300px;
	margin: 12vh auto;
}

#invalid-login {
	text-align: center;
}

.logged-in-only {
	width: 90%;
	display: block;
	margin: 5px auto;
}

mat-spinner {
	width: 40px;
	height: 40px;
	margin: auto;
}
